Module_5/5_2_Publish_Subscribe/Flow/flows.json
[
    {
        "id": "e488625c59b3303a",
        "type": "mqtt in",
        "z": "cd675d8d8fbbdaf9",
        "name": "",
        "topic": "test",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "9f9e276987b2fb1f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 140,
        "wires": [
            [
                "b2812a4bb3096345"
            ]
        ]
    },
    {
        "id": "3d9e45e6a54996fe",
        "type": "mqtt in",
        "z": "cd675d8d8fbbdaf9",
        "name": "",
        "topic": "counter",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "9f9e276987b2fb1f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 220,
        "wires": [
            [
                "ee8d4ed12a03d957"
            ]
        ]
    },
    {
        "id": "18b095ed8d679104",
        "type": "mqtt out",
        "z": "cd675d8d8fbbdaf9",
        "name": "",
        "topic": "led",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9f9e276987b2fb1f",
        "x": 370,
        "y": 300,
        "wires": []
    },
    {
        "id": "fbd620dbef3e5355",
        "type": "ui_switch",
        "z": "cd675d8d8fbbdaf9",
        "name": "",
        "label": "switch",
        "tooltip": "Controls GPIO 2",
        "group": "c91a80502be32821",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 110,
        "y": 300,
        "wires": [
            [
                "18b095ed8d679104"
            ]
        ]
    },
    {
        "id": "ee8d4ed12a03d957",
        "type": "ui_chart",
        "z": "cd675d8d8fbbdaf9",
        "name": "",
        "group": "c91a80502be32821",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 370,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "b2812a4bb3096345",
        "type": "ui_text",
        "z": "cd675d8d8fbbdaf9",
        "group": "c91a80502be32821",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "text",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 370,
        "y": 140,
        "wires": []
    },
    {
        "id": "9f9e276987b2fb1f",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": "",
        "credentials": {
            "user": "",
            "password": ""
        }
    },
    {
        "id": "c91a80502be32821",
        "type": "ui_group",
        "name": "Test",
        "tab": "f17256504e488d77",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f17256504e488d77",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
