Module_6/6_4_MQTT_NodeRED_InfluxDB/Flow/flow.json
[
    {
        "id": "c14e812ff2a3eb16",
        "type": "mqtt in",
        "z": "dd98633c663de931",
        "name": "",
        "topic": "esp/bme280/temperature",
        "qos": "2",
        "datatype": "auto",
        "broker": "0776bdc38d698101",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 160,
        "wires": [
            [
                "adc695f59bb83b9a",
                "1c0e1e30f3b5d81d",
                "23d73a066a208207",
                "fa1ffa6f48d0ae7a"
            ]
        ]
    },
    {
        "id": "95cf9e38c9f1f0af",
        "type": "mqtt in",
        "z": "dd98633c663de931",
        "name": "",
        "topic": "esp/bme280/humidity",
        "qos": "2",
        "datatype": "auto",
        "broker": "0776bdc38d698101",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 760,
        "y": 160,
        "wires": [
            [
                "f262b6dc63ab6185",
                "d5bda4798448c9d1",
                "abcceee58213b774",
                "c032e8f812be537d"
            ]
        ]
    },
    {
        "id": "c4c576357ffdb3e1",
        "type": "mqtt in",
        "z": "dd98633c663de931",
        "name": "",
        "topic": "esp/bme280/pressure",
        "qos": "2",
        "datatype": "auto",
        "broker": "0776bdc38d698101",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 480,
        "wires": [
            [
                "f6f7eaf203fe6b14",
                "484eb0be9b9285f5",
                "60245d930c6ed1b8",
                "5b030127b8710755"
            ]
        ]
    },
    {
        "id": "fa1ffa6f48d0ae7a",
        "type": "debug",
        "z": "dd98633c663de931",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 160,
        "wires": []
    },
    {
        "id": "c032e8f812be537d",
        "type": "debug",
        "z": "dd98633c663de931",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1030,
        "y": 160,
        "wires": []
    },
    {
        "id": "5b030127b8710755",
        "type": "debug",
        "z": "dd98633c663de931",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 480,
        "wires": []
    },
    {
        "id": "adc695f59bb83b9a",
        "type": "ui_gauge",
        "z": "dd98633c663de931",
        "name": "Temperature Gauge",
        "group": "a83cb4ee1a8ade7d",
        "order": 1,
        "width": "0",
        "height": "0",
        "gtype": "gage",
        "title": "",
        "label": "ºC",
        "format": "{{value}}",
        "min": 0,
        "max": "40",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 520,
        "y": 100,
        "wires": []
    },
    {
        "id": "f262b6dc63ab6185",
        "type": "ui_gauge",
        "z": "dd98633c663de931",
        "name": "Humidity gauge",
        "group": "fe7c5bf40ec5e82a",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#9ac5c6",
            "#416ec8",
            "#0a33ae"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1040,
        "y": 100,
        "wires": []
    },
    {
        "id": "d5bda4798448c9d1",
        "type": "ui_chart",
        "z": "dd98633c663de931",
        "name": "Humidity Chart",
        "group": "fe7c5bf40ec5e82a",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "3",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#0c5488",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#db2424",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1040,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "f6f7eaf203fe6b14",
        "type": "ui_gauge",
        "z": "dd98633c663de931",
        "name": "Pressure Gauge",
        "group": "c901dbb784a23449",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "",
        "label": "hPa",
        "format": "{{value}}",
        "min": "950",
        "max": "1100",
        "colors": [
            "#f4ff5c",
            "#e6b400",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 500,
        "y": 420,
        "wires": []
    },
    {
        "id": "484eb0be9b9285f5",
        "type": "ui_chart",
        "z": "dd98633c663de931",
        "name": "Pressure chart",
        "group": "c901dbb784a23449",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "3",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#e9e216",
            "#aec7e8",
            "#ff7f0e",
            "#293829",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 500,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "1c0e1e30f3b5d81d",
        "type": "ui_chart",
        "z": "dd98633c663de931",
        "name": "Temperature Chart",
        "group": "a83cb4ee1a8ade7d",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "3",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#b31e1e",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#c91d1d",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 510,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "a46ff85d4a275249",
        "type": "influxdb out",
        "z": "dd98633c663de931",
        "influxdb": "bc4ab5cb2a050021",
        "name": "",
        "measurement": "readings",
        "precision": "",
        "retentionPolicy": "",
        "database": "",
        "retentionPolicyV18Flux": "",
        "org": "RNT",
        "bucket": "Home",
        "x": 690,
        "y": 280,
        "wires": []
    },
    {
        "id": "54d68daa0d8f6088",
        "type": "influxdb out",
        "z": "dd98633c663de931",
        "influxdb": "bc4ab5cb2a050021",
        "name": "",
        "measurement": "readings",
        "precision": "",
        "retentionPolicy": "",
        "database": "",
        "retentionPolicyV18Flux": "",
        "org": "RNT",
        "bucket": "Home",
        "x": 690,
        "y": 600,
        "wires": []
    },
    {
        "id": "82f3a1d9c8777b56",
        "type": "influxdb out",
        "z": "dd98633c663de931",
        "influxdb": "bc4ab5cb2a050021",
        "name": "",
        "measurement": "readings",
        "precision": "",
        "retentionPolicy": "",
        "database": "",
        "retentionPolicyV18Flux": "",
        "org": "RNT",
        "bucket": "Home",
        "x": 1230,
        "y": 280,
        "wires": []
    },
    {
        "id": "60245d930c6ed1b8",
        "type": "function",
        "z": "dd98633c663de931",
        "name": "",
        "func": "msg.payload = [{\n    pressure: Number(msg.payload)\n},\n{\n    sensor: \"BME280\",\n    device: \"ESP32\",\n    room: \"office\"\n}];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 600,
        "wires": [
            [
                "54d68daa0d8f6088"
            ]
        ]
    },
    {
        "id": "23d73a066a208207",
        "type": "function",
        "z": "dd98633c663de931",
        "name": "",
        "func": "msg.payload = [{\n    temperature: Number (msg.payload)\n},\n{\n    sensor: \"BME280\",\n    device: \"ESP32\",\n    room: \"office\"\n}];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 280,
        "wires": [
            [
                "a46ff85d4a275249"
            ]
        ]
    },
    {
        "id": "abcceee58213b774",
        "type": "function",
        "z": "dd98633c663de931",
        "name": "",
        "func": "msg.payload = [{\n    humidity: Number(msg.payload)\n},\n{\n    sensor: \"BME280\",\n    device: \"ESP32\",\n    room: \"office\"\n}];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1020,
        "y": 280,
        "wires": [
            [
                "82f3a1d9c8777b56"
            ]
        ]
    },
    {
        "id": "0776bdc38d698101",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "a83cb4ee1a8ade7d",
        "type": "ui_group",
        "name": "Temperature",
        "tab": "54cd6499810dea3d",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "fe7c5bf40ec5e82a",
        "type": "ui_group",
        "name": "Humidity",
        "tab": "54cd6499810dea3d",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c901dbb784a23449",
        "type": "ui_group",
        "name": "Pressure",
        "tab": "54cd6499810dea3d",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "bc4ab5cb2a050021",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "test",
        "name": "Database",
        "usetls": true,
        "tls": "d50d0c9f.31e858",
        "influxdbVersion": "2.0",
        "url": "http://localhost:8086",
        "rejectUnauthorized": false
    },
    {
        "id": "54cd6499810dea3d",
        "type": "ui_tab",
        "name": "Dashboard",
        "icon": "",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "d50d0c9f.31e858",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": false
    }
]
